.conferences-page-header-banner {
    background-image: url("../img/conferences-baner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 455px;

    h2 {
        color: #504c4a;        ;
        position: relative;
        top: 375px;
    }
}